// ======>> Font Family & Weight Variables <<======
// $font-family:(
//     "primary":'Poppins', sans-serif,
//     "secondary":'Titillium Web', sans-serif
// );

$font-weights:(
    "light":300,
    "regular":400,
    "medium":500,
    "semibold":600,
    "bold":700
);

// ======>> Color Variables <<======
$white : #fff;
$black: #000000;

$primary: #F3CE3D;
$secondary: #243745;
$tertiary: #4D4084;
$darkBg: #14232E;
$lightBg:#DAE1E9;
$lightText: #9E9E9E;


.bgYellow{
    background: $primary;
}
.bgDarkGreen{
    background: $darkBg;
}