body{
    @include font(poppins, regular);
    // font-family: 'Poppins', sans-serif;
    line-height:1.5;
    color:$secondary;
}
html, body, #root, .login-wrap{
    height: 100vh;
}

.bgYellow{
    background: $primary;
}
.bgDarkGreen{
    background: $darkBg;
}