$white : #fff;
$black: #000000;
$purpal: #4B4084;
$yellow: #F3CE3D;
$darkGreen: #14232E;
$lightGreen: #243746;
$gray: #9E9E9E;


.bgYellow{
    background: $yellow;
}
.bgDarkGreen{
    background: $darkGreen;
}