$white : #fff;
$black: #000000;
$purpal: #4d4084;
$yellow: #f5ce3e;
$darkGreen: #14232E;
$lightGreen: #243746;
$gray: #9E9E9E;


.bgYellow{
    background: $yellow;
}
.bgDarkGreen{
    background: $darkGreen;
}